<header class="p-3 bg-dark text-white">
    <h1><i class="fa fa-file-text-o" aria-hidden="true"></i><b> Prueba Vacante</b></h1>
</header>
<div class="container">
    <h1 class="maintitle">Homelander-John</h1>
    <hr>
    <div class="row justify-content-md-center">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <img src="./assets/image/homelander2.png" class="card-img-top" alt="imagenhomelander">
        </div>
    </div>
    <br>
    <div class="container contenido">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <hr>
                <p>
                    <b>T</b>he Homelander es un superhéroe patriótico que lidera el equipo de superhéroes, The Seven, y el sobrehumano más poderoso creado 
                    por Vought-American. La historia de portada de la compañía para Homelander es que es un extraterrestre que aterrizó en los Estados Unidos 
                    cuando era un bebé, al igual que Superman . En realidad, fue criado en un laboratorio secreto, la progenie de material genético tomado de 
                    Stormfront , a quien le inyectaron el Compuesto V cuando todavía era miembro de las Juventudes Hitlerianas . Homelander pasó la mayor 
                    parte de su joven vida encadenado con una bomba de hidrógeno atada a él en caso de que intentara escapar. Su madre era una mujer con 
                    discapacidad mental que murió al darle a luz, similar a cómo murió la esposa de Butcher al dar a luz después de que fue violada. <br>

                    Homelander permanece bajo el control financiero de VA, ya que su dinero financia el estilo de vida hedonista de los Siete . Homelander 
                    eventualmente intenta alentar a los otros superhéroes a hacer lo que quieran, pero cede debido a su miedo hacia su jefe James Stillwell. <br>
                    
                    Hasta los eventos del clímax de la serie, se da a entender que Homelander había violado a la esposa de Billy Butcher, Becky, quien luego 
                    murió al dar a luz a un bebé sobrehumano que Billy había matado. En el número 40, los chicos reciben una serie de fotos incriminatorias 
                    que aparentemente muestran a Homelander participando en horribles actos de asesinato, canibalismo y necrofilia contra hombres, mujeres y 
                    niños. La serie finalmente revela que Homelander no puede recordar estos incidentes ni la violación de la esposa de Billy, y sugiere que 
                    Homelander tiene un trastorno de identidad disociativo y puede haber enviado las fotografías al propio Billy. En privado, Homelander 
                    muestra signos de sufrir un colapso mental, hablando con su propio reflejo en un espejo y teniendo ataques de náuseas. Finalmente decide 
                    que está condenado de todos modos por los actos descritos en las fotos, y decide ceder a cualquier pensamiento intrusivo que se le cruce 
                    por la mente.   
                </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <hr>
                <img src="./assets/image/homelander4.png" class="card-img-top" alt="Imagenhomelander">
                <br><br>
            </div>
        </div>
    </div>
</div>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2021 Company, Inc</p>
    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">By: Juen Diego Polo Sosa</a></li>
    </ul>
</footer>

