.container{
    background-color:whitesmoke;
    border-radius: 0.3rem;
    box-shadow: rgba(0,0, 0, 0.08) 0px 1px 8px;
    border-radius: 4px;
    min-height: 900px;
}
.contenido{
    background-color:whitesmoke;
    border-radius: 0.3rem;
    box-shadow: rgba(0,0, 0, 0.30) 0px 1px 8px;
    border-radius: 4px;
    min-height: 900px;
}
.maintitle{
    text-align: center;
    font-family: cursive;
}
footer{
    background-color: white;
}
p{
    text-align: justify;
}
img{
    border-radius: 12px;
}