<router-outlet></router-outlet>
<header class="p-3 bg-dark text-white">
  <h1><i class="fa fa-file-text-o" aria-hidden="true"></i><b> Prueba Vacante</b></h1>
</header>
<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="card-tab" data-bs-toggle="tab" data-bs-target="#card" type="button" role="tab" aria-controls="card" aria-selected="true"><i class="fa fa-list" aria-hidden="true"></i> Listado De Heroes</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="carrou-tab" data-bs-toggle="tab" data-bs-target="#carrou" type="button" role="tab" aria-controls="carrou" aria-selected="false">Profile</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="card" role="tabpanel" aria-labelledby="card-tab">
      <div>
        <br>  
        <h2><b>Listado De Heroes</b></h2>
        <hr>
      </div>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="card">
              <h5 class="card-title" style="text-align: center;">SUPERMAN</h5>
              <img src="./assets/image/Superman.jpg" class="card-img-top" alt="ImagenSuperman">
              <div class="card-body">
                <p class="card-text"><small class="text-muted">DC Comics</small></p>
                <p class="card-text"><b>Primera aparicio: </b>Action Comics #1</p>
                <p class="card-text"><b>Nombre Natal: </b>Kal-El</p>
                <p class="card-text"><b>Nombre Terricola: </b>Clark Joseph Kent</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button id="vermas" type="button" class="btn btn-danger"><i class="fa fa-plus" aria-hidden="true"></i> Leer más</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            2 of 2
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            3 of 3
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="carrou" role="tabpanel" aria-labelledby="carrou-tab">...2</div>
  </div>
</div>